__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothes
documents/
documents copy/
docling_basics/output/
docling-rag-agent/
.env
.DS_Store

documents_copy_mia/
node_modules/
.bamad
.claude
.cursor
