.env
.env.*
!.env.example 

.venv
.pytest_cache
__pycache__
.claude
CLAUDE.md
ideal_documents
PRPs

/node_modules


#cartelle irrilevanti per proggetto
/documents_copy_cooleman
/documents_copy_mia

.agent
.bmad
.cursor
.claude
.vscode


metrics
=3.0.0
.coverage